PORT=3000
BASE_URL=http://localhost:4000
TZ=UTC
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=nest_dev
DATABASE_SYNC=true
DATABASE_LOGGING=false


SENDGRID_API_KEY=
EMAIL_SERVER_SENDER_FROM="Alex Doan" <no-reply@gtsvn.com.vn>

APPLE_TEAM_ID=
APPLE_KEY_PATH=
APPLE_CLIENT_ID=
APPLE_KEY_ID=
APPLE_REDIRECT_URI=

AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ACCESS=
AWS_S3_BUCKET_NAME=